<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stilos.css">
    <title>Document</title>
</head>
<body>
    <div class="form-in">
        <div class="con-in">
            <h1>UNIVERSIDADES</h1>
            <button id="login" type="button" class="but">Inisiar Session</button>
            <button id="register" type="button" class="but">Crear Usuario</button>
        </div>
    </div>

    <script src="js/scriptIndex.js"></script>
</body>
</html>