<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stilos.css">
    <title>Login</title>
</head>
<body>
    <div class="form-in">
        <form class="con-in" id="login-form">
            <h1>Iniciar session</h1>
            <div class="user-info">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario-login" name="usuario" placeholder="Ingrese usuario" class="form-input">
            </div>
            <div class="user-pass">
                <label for="password">Contraseña</label>
                <input type="password" id="password-login" name="password"  placeholder="Ingrese Contraseña" class="form-input">
            </div>
            <button type="submit">Iniciar Sesion</button>
        </form>
    </div>

    <script src="js/scriptLogin.js"></script>
</body>
</html>