<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stilos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <title>Document</title>
</head>
<body>
    <button id="btnCerrar" type="button">Cerrar Cession</button>
    <button id="btnPDF" type="button">Generar PDF</button>
    
    <div class="form-in">
        <div class="contenido-uni">
            
            <h1 id="uni">UNIVERSIDADES</h1>
            <h2 id="pais">Seleccione el país</h2>
            <select name="paises" id="paises">
                <option>
                    <option value="Colombia" selected>Colombia</option>
                    <option value="mexico">Mexico</option>
                    <option value="peru">Perú</option>
                    <option value="argentina">Argentina</option>
                    <option value="France">Francia</option>
                    <option value="Italy">Italia</option>
                    <option value="Germany">Alemania</option>
                </option>
            </select>
            <div class="conPaises" id="conPaises">
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="js/scriptUniversidades.js"></script>
</body>
</html>